<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>searchBar}}

        <div class="centralized">
            <h2>Weather in {{location}}</h2>
            <div class="flex centralized">
                <canvas id="icon1" width="80" height="80"></canvas>
                <span class="font-70 margin-30">
                    {{curr_temperature}}°
                    <p>Apparent {{curr_apparent}}°</p>
                </span>

            </div>
            <table class="weather-items">
                <tbody>
                    <tr class="weather-item">
                        <td>Rain</td>
                        <td>{{curr_precipitation}}mm</td>
                    </tr>
                    <tr class="weather-item">
                        <td>Wind</td>
                        <td>{{curr_wind}}m/s</td>
                    </tr>
                    <tr class="weather-item">
                        <td>Humidity</td>
                        <td>{{curr_humidity}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>